#cita-listar-doctores {
    margin: 20px;
    margin-left: 1160px;
}

#dv-btnCitas {
    display: flex;
    justify-content: flex-end;
}

.frm-cita {
    border: 3px solid #000;
    width: 600px;
}

input {
    font-size: 15px;
}

#hofe {
    display: flex;
    justify-content: right;
}

.frm-citas-new {
    color: #269c57;
}

.label-cita-cliente {
    font-size: 19px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.input-invalid {
    border: 2px solid red;
}

.input-valid {
    border: transparent;
}

.tab {
    background-color: rgb(47, 50, 58);
    overflow: hidden;
    position: relative;
    top: 0px;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    border: none;
    color: #269c57;
    cursor: pointer;
    float: left;
    font-size: 17px;
    font-weight: 600;
    height: 50px;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    width: 250px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: rgb(255, 255, 255);
    font-size: 19px;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #269c57;
    color: #fff;
}


/* Style the tab content */

.tabcontent {
    border-top: none;
    display: none;
}

.txt-citas input {
    width: 600px;
}

.txt-citas {
    margin: 10px 0;
}
.txt-citas select {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 15px;
    text-align: center;
    width: 150px;
    display: block;
}


/*Botones de los tabs*/

.btn-ver {
    background-color: #575757;
    border: 2px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    margin-right: 5px;
    padding: 5px 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    width: fit-content;
}

.btn-ver:hover {
    background-color: #18b158;
    border: 2px solid #18b158;
    color: #fff;
}

.label-reservacion-cliente {
    color: #269c57;
}


/*
#modal-citas {
    justify-content: center;
    background-color: #575757;
    width: 500px;
    height: 500px;
}
*/