#sct-contact {
    display: inline-table;
    padding: 40px;
    width: max-content;
    height: max-content;
    justify-content: space-evenly;
    left: 2000px;
}

.input-email {
    position: relative;
}

#sct-contact .input {
    padding: 10px;
    border-radius: 5px;
}

#sct-contact .input-email {
    position: relative;
}