#sct-contact {
    display: inline-table;
    padding: 40px;
    width: 500px;
    height: max-content;
    justify-content: space-evenly;
    position: relative;
}

#sct-contact #name,
#sct-contact #group,
#sct-contact #service,
#sct-contact #email,
#sct-contact #phone {
    outline-color: #07528b;
}

.input-email {
    position: relative;
}

#sct-contact .input {
    padding: 10px;
    border-radius: 5px;
    outline-color: #07528b;
}

#sct-contact .input-name {
    position: relative;
}

#sct-contact #name,
#sct-contact #group,
#sct-contact #service {
    position: relative;
    width: 490px;
}

#sct-contact #group {
    position: relative;
    top: 10px;
}

#sct-contact #service {
    position: relative;
    top: 20px;
}

#sct-contact .input-email {
    position: relative;
    top: 39px;
}

#sct-contact #email {
    width: 270px;
}

#sct-contact .input-phone {
    position: relative;
    top: 0px;
    left: 272px;
}

#sct-contact #phone {
    position: relative;
    left: 20px;
    width: 198px;
}

#sct-contact #submit {
    width: 100px;
    position: relative;
    top: 5px;
    left: 390px;
    padding: 5px;
    border-radius: 3px;
    background-color: yellowgreen;
    cursor: pointer;
    border-color: yellowgreen;
}

#sct-contact #submit:hover {
    transition: 0.3s;
    background-color: #fff;
}

#sct-contact #name:hover,
#sct-contact #group:hover,
#sct-contact #service:hover,
#sct-contact #email:hover,
#sct-contact #phone:hover {
    transition: 0.4s;
    background-color: rgb(7, 82, 139, 0.20);
    color: #000;
}