#sct-contact {
    display: inline-block;
    background-color: black;
    padding: 20px;
}

.input-email {
    position: relative;
}

#sct-contact .input {
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
}