@font-face {
  font-family: azonix;
  src: url(/fonts/Azonix.otf);
}
@font-face {
  font-family: quantum;
  src: url(/fonts/Quantum.otf);
}
@font-face {
  font-family: aqum;
  src: url(/fonts/Aqum.ttf);
}
@font-face {
  font-family: apex;
  src: url(/fonts/Apex.otf);
}
