html {
    scroll-behavior: smooth;
  }
  section[id] {
    scroll-margin-top: 80px;
  }
.header-container{
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 3%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.041);
    position: fixed;
    width: 100%;
    z-index: 15;
    font-family: "Varela Round", sans-serif;
    box-shadow: 0 0 5px #000;
}
.logo-container{
    width: 155px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container img{
    width: 100%;
}
.header-container .home{
    margin: auto;
    /* padding-left: 70px; */
    text-align: center;
    font-size: 22px;
    font-family: "Varela Round", sans-serif;
}
.header-container .home-services{
    margin: auto;
    padding-left: 72px;
    text-align: center;
    font-size: 22px;
    font-family: "Varela Round", sans-serif;
}

.header-container  .home a:hover{
    border-bottom: 2px solid #03af5f;
}
.header-container a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.menu-icons{
    display: flex;
    align-items: center;
    height: 80px;
    gap: 15px;
    font-size: 16px;
}
.menu-icons a i{
    font-size: 20px;
}
.menu-icons a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
}
.menu-icons a:hover {
    color: #03af5f;
}