body {
    font-family: 'Inter', sans-serif;
}

.header-principal {
    align-items: center;
    background-image: linear-gradient(to right, #1d1c21, #2196F3);
    /* background-color: #1d1c21; */
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 3%;
    height: 80px;
}

.header-principal nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.header-principal a {
    color: #e4ffff;
    text-decoration: none;
}

.header-principal a:hover {
    color: #3abab4;
}

.header-principal .logo {
    width: 125px;
}

.header-principal .logo img {
    width: 80%;
    height: 80%;
}

.btn-celeste {
    background-color: #3abab4;
    border-radius: 5px;
    display: flex;
    height: 40px;
    width: 140px;
    justify-content: center;
    align-items: center;
}

.header-principal .btn-celeste {
    color: #1c1d21;
}

.header-principal .btn-celeste:hover {
    color: #fff;
}