html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 120px;
}

* {
  box-sizing: border-box;
}

.header-container {
  scroll-margin-top: 120px;
  background-color: rgb(255, 255, 255);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 3%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.041);
  position: fixed;
  z-index: 1000;
  top: 0;
  font-family: "Varela Round", sans-serif;
}

.header-container a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}


/* .header-container button:hover{
  background-color: #52b991;
} */

.header-container a>i {
  padding-right: 5px;
  font-size: 20px;
}

.logo-container {
  margin: auto;
  /* padding-left: 75px; */
  width: 170px;
  height: 75px;
}

.header-container img {
  width: 100%;
  height: 100%;
}

.menu-header {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 40px;
  background-color: #2f323a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10%;
  z-index: 1000;
  font-family: "Varela Round", sans-serif;
}

.menu-header a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  width: 305px;
  text-align: center;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.menu-header a:hover {
  color: #269c57;
  font-size: 21px;
}

.menu-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.menu-icons a {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #000;
}

.menu-icons a i {
  font-size: 18px;
}

.menu-icons a:hover i {
  color: #03af5f;
}

#btn-usuario {
  width: 165px;
  font-size: 18px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#btn-usuario:hover {
  font-size: 19px;
}

#btn-usuario:hover i {
  color: #03af5f;
  border-bottom: none;
}

.ocultar {
  display: none;
}

#btn-usuario .fa-caret-down {
  font-size: 15px;
}