* {
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: "Varela Round", sans-serif;
}

html {
    scroll-behavior: smooth;
}

div[id] {
    scroll-margin-top: 80px;
}

section {
    position: relative;
    top: 80px;
}

h2 {
    font-size: 35px;
    color: #358a35b2;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 50px 0 20px 0;
}

#wave {
    left: 0;
    bottom: 0px;
    position: absolute;
}

.sct-nosotros {
    padding: 100px 0;
}

.sct-nosotros .nosotros-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.sct-nosotros .nosotros-container p {
    flex-wrap: wrap;
    font-size: 20px;
    padding: 20px;
    max-width: 600px;
}

.sct-nosotros .nosotros-container .info-nosotros-container h3 {
    font-size: 60px;
    padding: 0 20px;
    width: 100px;
}

.sct-nosotros .nosotros-container .info-nosotros-container h3>span {
    font-size: 50px;
    font-weight: bold;
    color: #00b850;
}

.sct-nosotros .nosotros-container .info-nosotros-container {
    flex-wrap: wrap;
}

.sct-nosotros .nosotros-container .img-nosotros-container {
    width: 400px;
    height: 400px;
}

.sct-nosotros .nosotros-container .img-nosotros-container img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 50px;
}

.footer {
    margin-top: 150px;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 3%;
    border-top: 1px solid rgba(0, 0, 0, 0.192);
}

.footer-direction p {
    font-size: 18px;
    margin: auto;
}

.footer-email {
    margin: auto;
    position: relative;
    left: -25px;
    font-size: 18px;
}

.footer-redes {
    display: flex;
    gap: 20px;
}

.footer-redes a img {
    width: 30px;
}
.create-by{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color:#007a35af;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 3%;
}

.cr-dev{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 100;
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

html::-webkit-scrollbar {
    -webkit-appearance: none;
}

html::-webkit-scrollbar:vertical {
    width: 12px;
}

html::-webkit-scrollbar:horizontal {
    height: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: #196b3c;
    border-radius: 3px;
    border: 2px solid #00000077;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

html::-webkit-scrollbar-track {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


/*CSS HOTEL*/

.sct-hotel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    position: relative;
}

.sct-hotel>h2 {
    padding: 40px;
}

.info-hotel {
    height: 500px;
    display: flex;
    flex-direction: row;
    padding: 0 3%;
    gap: 5px;
}


/*Contenedor con imagen del gato*/

.card-photo-cat {
    display: flex;
    background-image: url("/imgs/imgsindex/kate-stone-matheson-uy5t-CJuIK4-unsplash.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*Sobre card-photo*/

.glass {
    width: 100%;
    backdrop-filter: blur(1px);
    background-color: rgba(6, 5, 4, 0.40);
}


/*Contenedor con el texto*/

.card-wrapped {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgba(6, 5, 4, 0.95);
    color: #fff;
    padding: 20px 0;
}


/*Contenedor del titulo*/

.title {
    text-align: center;
    margin-bottom: 65px;
}

.text-glass {
    margin: auto;
    display: flex;
    width: 80%;
    backdrop-filter: blur(1px);
    background-color: rgba(6, 5, 4, 0.55);
    padding: 20px 25px;
    border-radius: 5px;
}

.text {
    line-height: 0.8cm;
    font-size: 20px;
}


/*Diseño del boton*/

.cta {
  text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    /*
  padding-right: 15px;
  */
    text-transform: uppercase;
    color: #fff;
}

.hover-underline-animation {
    position: relative;
    color: #fff;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.title {
    word-spacing: 5px;
    text-transform: uppercase;
}
