    /* * { 
        box-sizing: border-box;
    }
     */
    
    .boton {
        display: flex;
        justify-content: right;
        align-items: right;
        padding-right: 10%;
        padding-bottom: 5%;
    }
    
    .boton .btn-celeste {
        background-color: #07528b;
        opacity: 75%;
        color: #fff;
    }
    
    .boton .btn-celeste:hover {
        color: #000;
    }
    
    .footer {
        align-items: center;
        background-image: linear-gradient(to right, #1d1c21, #2196F3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 3%;
        padding-left: 3%;
        height: 80px;
        text-decoration: none;
    }
    
    .footer .acerca {
        color: #fff;
        text-decoration: none;
    }
    
    .footer .btn-celeste {
        background-color: #07528b;
        border-radius: 5px;
        display: flex;
        height: 40px;
        width: 140px;
        justify-content: center;
        align-items: center;
    }
    
    .footer .btn-celeste {
        color: #fff;
    }
    
    .footer .btn-celeste:hover {
        color: #000;
    }
    
    .footer .acerca:hover {
        color: #000;
    }
    
    h2 {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    
    h3 {
        text-decoration: bold;
        font-size: 20px;
    }
    
    h4 {
        font-size: 5px;
    }
    
    li {
        line-height: 40px;
        margin-bottom: 10px;
    }
    
    .nosotros {
        border: 2px solid #07528b;
        border-radius: 5px;
        background-color: #07528b;
        color: #fff;
        margin: 10%;
    }
    
    p {
        line-height: 40px;
        margin-bottom: 10px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
        text-size-adjust: 12px;
    }
    
    #sct-acerca .nosotros {
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
        text-size-adjust: 12px;
    }
    
    #sct-banner {
        background-image: url('../images/bannerinicial.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        height: 600px;
        justify-content: center;
        padding-left: 3%;
    }
    
    #sct-banner .info-banner {
        align-items: top left;
        color: #000;
        display: flex;
        font-size: 50px;
        height: 600px;
        justify-content: left;
    }
    
    ul {
        margin-bottom: 10px;
        list-style-type: circle;
        padding-left: 10%;
    }
    
    .title-word {
        animation: color-animation 4s linear infinite;
    }
    
    .title-word-1 {
        --color-1: #DF8453;
        --color-2: #3D8DAE;
        --color-3: #E4A9A8;
    }
    
    .title-word-2 {
        --color-1: #DBAD4A;
        --color-2: #ACCFCB;
        --color-3: #17494D;
    }
    
    .title-word-3 {
        --color-1: #ACCFCB;
        --color-2: #E4A9A8;
        --color-3: #ACCFCB;
    }
    
    .title-word-4 {
        --color-1: #3D8DAE;
        --color-2: #DF8453;
        --color-3: #E4A9A8;
    }
    
    @keyframes color-animation {
        0% {
            color: var(--color-1)
        }
        32% {
            color: var(--color-1)
        }
        33% {
            color: var(--color-2)
        }
        65% {
            color: var(--color-2)
        }
        66% {
            color: var(--color-3)
        }
        99% {
            color: var(--color-3)
        }
        100% {
            color: var(--color-1)
        }
    }
    /* Here are just some visual styles. 🖌 */
    
    .container {
        opacity: 75%;
        display: grid;
        place-items: top;
        text-align: left;
        height: 100vh
    }
    
    .title {
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 20px;
        text-transform: uppercase;
    }