* {
    box-sizing: border-box;
}

#sct-banner {
    background-image: url('../images/bannerinicial.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    padding-left: 3%;
}

#sct-banner .info-banner {
    color: #000;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
    padding: 20px 2%;
    text-shadow: #f4f4f4 0px 0px 5px, #f4f4f4 0px 0px 10px, #f4f4f4 0px 0px 15px, #3abab4 0px 0px 20px, #3abab4 0px 0px 30px, #3abab4 0px 0px 40px, #3abab4 0px 0px 50px, #3abab4 0px 0px 75px;
    width: 52%;
}

#sct-banner .info-banner p:nth-child(2) {
    font-size: 95px;
    font-weight: bold;
}

#sct-banner #txt-correo {
    color: #378fa8;
    opacity: 50%;
    height: 40px;
    width: 250px;
}

#sct-banner .btn-celeste {
    color: #000;
    border: 0;
    display: inline-block;
    height: 40px;
}

#sct-banner .btn-celeste:hover {
    color: #fff;
}

@media only screen and (max-width: 1000px) {
    #sct-banner .info-banner {
        color: #000;
        font-family: 'Kdam Thmor Pro', sans-serif;
        font-size: 30px;
        margin-bottom: 20px;
        padding: 20px 2%;
        text-shadow: #f4f4f4 0px 0px 5px, #f4f4f4 0px 0px 10px, #f4f4f4 0px 0px 15px, #3abab4 0px 0px 20px, #3abab4 0px 0px 30px, #3abab4 0px 0px 40px, #3abab4 0px 0px 50px, #3abab4 0px 0px 75px;
        width: 52%;
    }
    #sct-banner .info-banner p:nth-child(2) {
        font-size: 50px;
        font-weight: bold;
    }
}