/*
#txt-nombre-mascota-perfil,
#sexo-mascota-perfil,
#txt-especie-perfil,
#txt-tamanno-perfil,
#txt-color-perfil,
#cuidados-pet-perfil {
    border: 2px solid black;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}
*/