.contenedor {
    padding-top: 1%;
    padding-left: 3%;
    width: 90%;
    height: 400px;
    margin: 6px;
    border: 1px solid gray;
}

.izquierda,
.derecha {
    position: bottom;
    top: 10%;
    width: 10%;
    height: 10%;
    background-color: gray;
    transform: translateY(-50);
    line-height: 50px;
    border-radius: 50%;
}