* {
  box-sizing: border-box;
}
.container {
  margin-top: 120px;
  height: calc(100vh - 188px);
  width: 100%;
  overflow-y: auto;
  background-image: url(../imgs/users/background-user-dashboard.png);
  background-size: cover;
  background-position: center;
}

.container h1 {
  text-align: center;
  padding: 40px;
}

.tbl-container {
  margin: auto;
  margin-top: 30px;
  width: 90%;
  padding: 20px 0;
}
table {
  text-align: center;
  padding: 0px;
  margin: 10px auto 0;
  width: 100%;
  background-color: #fff;
  font-size: 20px;
}
tr th {
  width: 100px;
  padding: 10px 0 !important;

}
tbody tr td {
  border-bottom: 2px solid #000;
  width: 300px;
  padding: 10px 1px !important;
}

thead {
  background: #000;
  color: #fff;
}
tbody tr:nth-child(even) {
  background: rgb(17, 139, 88);
  color: #fff;
}

.btn-editar {
  background-color: #575757;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px 10px;
  font-weight: 800;
  cursor: pointer;
  width: 50px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin: 5px;
}

.btn-editar:hover {
  background-color: #f5a31a;
  border: 2px solid rgb(0, 0, 0);
  color: #000;
}

.btn-eliminar {
  background-color: #d32626da;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px 5px;
  font-weight: 800;
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  width: 50px;
}

.btn-eliminar:hover {
  border: 2px solid rgb(0, 0, 0);
  color: #000;
}

.tbl-container h1 {
  text-align: center;
  font-size: 40px;
  padding: 0 0 20px 0;
  color: #18b158;
}

.btn-agragar{
  text-decoration: none;
  background-color: #18b158;
  color:  #fff;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.fa-filter-list{
  color: #fff;
  background-color: #fff;
}
.input-filter{
  font-size: 20px;
  width: 200px;
}