.vax-container {
    /*
    scroll-margin-top: 120px;
    */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    width: 100%;
    font-family: monospace;
    flex-wrap: wrap;
    position: relative;
    top: 10px;
}

.vax-tbl-container .vax-tbl-info {
    font-family: monospace;
    font-size: 16px;
    margin: auto;
}

.vax-tbl-container .vax-tbl-info thead {
    background-color: rgba(0, 0, 0, 0.815);
    backdrop-filter: blur(10);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.vax-tbl-container .vax-tbl-info thead>tr {
    border-bottom: 2px solid #18b158;
}

.vax-tbl-container .vax-tbl-info tbody td {
    border-bottom: 1px solid #18b158;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
}

.vax-tbl-container .vax-tbl-info tbody tr {
    border-bottom: 2px solid #18b158;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    background-color: #ffffffa9;
    backdrop-filter: blur(10);
}

.vax-tbl-container .vax-tbl-info tbody tr:nth-child(even) {
    background-color: #cfcfcff5;
    backdrop-filter: blur(2);
}

.vax-tbl-container h1 {
    text-align: center;
    font-size: 30px;
    padding: 0 0 20px 0;
    color: #18b158;
}

.vax-tbl-container {
    position: relative;
    padding: 30px 30px;
    /* background-image: url(/imgs/joe-caione-qO-PIF84Vxg-unsplash.jpg);
    background-position: center;
    background-size: cover; */
    background-color: rgba(218, 218, 218, 0.349);
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}